@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
body {
  font-family: "Montserrat", sans-serif;
}

.center {
  padding: 0 calc(50% - 555px);
}

a {
  color: black;
}

.top {
  height: 900px;
  background: url(../img/bgc.png) center/cover no-repeat;
}
.top__header {
  padding-top: 30px;
}
.top__buttons {
  display: flex;
  justify-content: center;
  gap: 30px;
}
.top__button {
  width: 182px;
  height: 50px;
  background: #998431;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.header__top {
  display: flex;
  justify-content: space-between;
  color: #FFFFFF;
}
.header__top-info {
  font-weight: 500;
  font-size: 13px;
  line-height: 150%;
  margin-bottom: 20px;
  color: #FFFFFF;
}
.header__nav {
  margin-bottom: 583px;
}

.nav {
  display: flex;
  border-top: 1px solid #FFFFFF;
  border-bottom: 1px solid #FFFFFF;
}
.nav__link {
  flex: 1 1 25%;
  text-align: center;
  line-height: 150%;
  color: #FFFFFF;
  padding: 13px 0;
  border-right: 1px solid #FFFFFF;
}
.nav__link:last-child {
  border-right: none;
}

.taste {
  padding-top: 100px;
  padding-bottom: 100px;
  background: #282828;
}
.taste__content {
  border: 3px solid #C4C4C4;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.taste__title {
  font-family: "Playfair Display";
  font-size: 36px;
  line-height: 150%;
  color: #FFFFFF;
  margin-top: 60px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.taste__title::after {
  content: "";
  display: block;
  background: #FFFFFF;
  width: 160px;
  height: 1px;
  margin-top: 40px;
}
.taste__text {
  color: #FFFFFF;
  max-width: 733px;
  text-align: center;
  font-size: 16px;
  line-height: 150%;
  padding-bottom: 50px;
}
.taste__img {
  max-width: 100%;
  margin-bottom: 60px;
}

.new {
  background: #E6E3C4;
  padding-top: 80px;
  padding-bottom: 80px;
}
.new__content {
  border-top: 1px solid #998431;
  border-bottom: 1px solid #998431;
  padding: 60px 0;
  display: flex;
  justify-content: space-between;
}
.new__info {
  max-width: 415px;
}

.info__overhead {
  font-size: 16px;
  line-height: 150%;
  margin-bottom: 30px;
}
.info__title {
  font-family: "Playfair Display";
  font-size: 36px;
  line-height: 150%;
  font-weight: 500;
  color: #282828;
  margin-bottom: 30px;
}
.info__title::after {
  content: "";
  display: block;
  height: 1px;
  width: 160px;
  background: #282828;
  margin-top: 30px;
}
.info__text {
  line-height: 150%;
  margin: 30px 0;
}
.info__link {
  display: block;
  width: 254px;
  height: 50px;
  background: #998431;
  color: #FFFFFF;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
}

.table {
  display: flex;
  flex-direction: column;
}
.table__row {
  display: flex;
  height: 75px;
  gap: 30px;
  border-bottom: 1px solid #282828;
}
.table__row:last-child {
  border-bottom: none;
}
.table__year {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 24px;
  line-height: 150%;
  color: #282828;
  border-right: 1px solid #282828;
}
.table__description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.table__title {
  font-family: "Playfair Display";
  font-size: 18px;
  line-height: 150%;
  color: #282828;
}
.table__subtitle {
  line-height: 150%;
  color: #282828;
}

.photos {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.photos__smale {
  display: flex;
  gap: 30px;
}
.photos__img {
  max-width: 100%;
}

.tasting {
  background: #282828;
  padding-top: 130px;
  padding-bottom: 100px;
}
.tasting__content {
  border: 3px solid #C4C4C4;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.tasting__text {
  margin: 65px;
  color: #FFFFFF;
  font-size: 16px;
  line-height: 150%;
  max-width: 540px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 70px;
}
.tasting__text::before {
  content: "";
  display: block;
  height: 1px;
  width: 118px;
  background: #FFFFFF;
  margin-bottom: 40px;
}
.tasting__form {
  margin-bottom: 70px;
}
.tasting__img {
  position: absolute;
}
.tasting__img--top {
  top: -40px;
  left: 308px;
}
.tasting__img--left {
  top: -70px;
  left: -120px;
}
.tasting__img--right {
  top: -70px;
  right: -72px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.form__small-inputs {
  display: flex;
  gap: 30px;
}
.form__input {
  background-color: transparent;
  outline: none;
  border-bottom: 1px solid #FFFFFF;
  height: 30px;
  color: #FFFFFF;
  padding: 0 3px;
  font-weight: 500;
  font-size: 13px;
  line-height: 150%;
}
.form__input--small {
  width: 255px;
}
.form__input--large {
  width: 540px;
}
.form__input::-webkit-input-placeholder {
  color: #FFFFFF;
}
.form__button {
  max-width: 541px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  padding: 15px 0;
  background-color: transparent;
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
}

.footer {
  background: #998431;
  padding-top: 50px;
  padding-bottom: 50px;
}
.footer__nav {
  display: flex;
  flex-direction: column;
  border-top: 1px solid #FFFFFF;
  border-bottom: 1px solid #FFFFFF;
}
.footer__nav-top {
  height: 60px;
  display: flex;
  gap: 60px;
  justify-content: center;
  align-items: center;
  line-height: 150%;
  border-bottom: 1px solid #FFFFFF;
}
.footer__nav-lop-link {
  color: #FFFFFF;
  line-height: 150%;
}
.footer__nav-bottom {
  display: flex;
}
.footer__nav-bottom-links {
  flex: 1 1 25%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid #FFFFFF;
}
.footer__nav-bottom-links:last-child {
  border: none;
}
.footer__nav-bottom-link {
  font-weight: 600;
  line-height: 150%;
  text-transform: uppercase;
  color: #FFFFFF;
}
.footer__nav-bottom-links-svg {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}